*.iml
.idea
*.swp
*.project
*.classpath
*.prefs
.gradle
.springboeans
target
/test/
/RemoteSystemsTempFiles/
/mvn.logs
/mvnError.logs
.fbExcludeFilterFile
.fbIncludeFilterFile
.settings
tbs-audisc/tbs-audisc-api/src/main/jmeter/*.log
enrichment/logs
asciidoc/docs/build
